.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.header {
  height: 101px;
  width: 100vw;
  background: #0f52ba;
  padding: 3% 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  padding: 5%;
}

.productsContainer {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin: auto;
}

.footer {
  height: 34px;
  width: 100vw;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  background: #eeeeee;

  display: flex;
  justify-content: center;
  align-items: center;
}
