.productPrice {
  display: flex;
  background: #373737;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 10px;
}

.cartProductPrice {
  font-weight: 700;
  font-size: 14px;

  @media screen and (max-width: 600px) {
    display: flex;
    background: #373737;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    padding: 6px 10px;
  }
}
